/* Please Make only Rhino and Zebra Blue */
.top {
    color: blue;
}

/* Please Make only Hufflepuff Gold */
#bestHouse {
    color: gold;
}

/* Please select Duck with the highest level of specificity possible */
.likesToQuack {
    font-size: 50px;
}
/* Please select Rhino with the highest level of specificity possible */
#rhino {
    font-size: 30px;
}