/******************************************
/* CSS
/*******************************************/
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,700;1,400&family=Oswald:wght@400;700&display=swap');


/* Box Model Hack */
*{
  box-sizing: border-box;
  margin: 0;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

/******************************************
/* Variables
/*******************************************/
:root {
  --primary-color: #A4BE7B;
  --secondary-color: #5F8D4E;
  --accent-color: #E5D9B6;
  --shade-color: #285430;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body {
  background: var(--shade-color);
  color: var(--accent-color);
}

.header{
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}

.header h1 {
  font-size: 3em;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  text-transform: uppercase;
}

.header h2 {
  font-family: 'Noto Serif', serif;
  text-transform: uppercase;
}

.header input {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 15px;
  padding: .5em;
  margin: 2em
}

.header button, .favorites {
  background: var(--secondary-color);
  color: var(--accent-color);
  font-family: 'Noto Serif', serif;
  border: none;
  border-radius: 5px;
  padding: .5em 1.5em;
  text-transform: uppercase;
}

.header button:hover {
  cursor: pointer;
}

/* Book Results */
.book-results {
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  padding: 0;
}

.cell-wrapper {
  display: flex;
  justify-content: space-around;
  background: red;
}

.cell-image {
  width: 25%;
  margin: 0;
  
}

.book-info {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}