@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Roboto:ital,wght@0,400;1,300&display=swap');

/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  h1, h2{
    text-align: center;
  }
  img{
    display: flex;
    height: 300px;
    margin: 0 auto;
    width: 94px;
    height: 94px;
    object-fit: contain;
  }
  ul {
    width: 100px;
    height: 397px;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
  }
  ul:hover {
    cursor: pointer;
  }
  
  li{
    width: 94px;
    height: 65px;
  }
  
  .champSelect {
    align-items: center;
    justify-content: center;
  }
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  #purple{
    background: rgba(241,63,247,1);
  }
  #green{
    background: rgba(0,253,81,1);
  }
  #blue{
    background: rgba(0,254,255);
  }
  #red {
    background: rgba(255,0,0);
  }
  #black{
    background: rgba(0,0,0,1);
  }
  #white {
    background: white;
  }



  body {
    background: rgb(13,54,56);
    background-size: cover; 
    background-repeat: no-repeat;
    color: white;
    font-family: 'Roboto', sans-serif;
  }

  #background-image {
    filter: blur(4px);
  }

  /* img {
    display: flex;

  } */

  #championSplash {
    width: 1214px;
    height: 716px;
    object-fit: contain;
  }

  .selectedChamp {
    display: flex;
    justify-content: space-evenly;
  }

  .selectedChamp aside {
    margin-right: 200px;
  }

  /* Media Queries */
@media screen and (max-width: 600px) {


  #championSplash {
    object-fit: contain;
    width: 400px;
    height: 400px;
  }
}